@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1661787283563') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tingchechang:before {
  content: "\100e7";
}

.icon-shujutongji:before {
  content: "\100e8";
}

.icon-tudi:before {
  content: "\100e9";
}

.icon-tianqi:before {
  content: "\100ea";
}

